﻿/* Gobal */
body {
    padding: 0;
    margin: 0;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #d4d4d4;
}

.headerContainer {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container {
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

/* header */
header {
    background-color: #1c8bc1;
    color: white;
    max-height: 40px;
}

header nav {
    margin-top: 5px;
}

header a {
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 5px;
}

header a:hover {
    background-color: #125B7E;
}

header .highlight {
    color: #c1521c;
}

.textbox {
    padding-right: 70px;
    margin-top: 5px;
}

.navLogo {
    font-size: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
}

/* trigger submit box */
#triggeredSubmit .profilePicture {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#triggeredSubmit .triggeredTextbox {
    padding-right: 250px;
}

#triggeredSubmit .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 5px;
}

#triggeredSubmit .newsFeed {
    width: 65%;
    overflow: hidden;
    border-width: 1px;
    border-color: #1c8bc1;
    border-style: solid;
    min-height: 50px;
    text-align: center;
    float: left;
    background-color: #FFFFFF;
}

#triggeredSubmit table {
    float: left;
    width: 65%;
    margin-top: 5px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}



#triggeredSubmit .tablePanel {
    width: 100%;
    overflow: hidden;
    border-width: 1px;
    border-color: #1c8bc1;
    border-style: solid;
    margin-right: 20px;
    min-height: 50px;
    float: left;
    background-color: #FFFFFF;

}

#triggeredSubmit .postedText {
    font-size: 30px;
}

#triggeredSubmit .postedHeader {
    background-color: #c1521c;
    width: 100%;
    color: #FFFFFF;
}

#triggeredSubmit a {
    text-decoration: none;
    color: #000000;
}

#triggeredSubmit .textbox {
    width: 70%;
    padding: 10px;

}

#triggeredSubmit .submitButton {
    background-color: #1c8bc1;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
}

#topTenList .subPart {
    width: 30%;
    margin: auto;
    overflow: hidden;
    min-height: 300px;
    background-color: #FFFFFF;
}