﻿* {
    box-sizing: border-box;
}


*:focus {
    outline: none;
}

body {
    font-family: Arial;
    background-image: url('images/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-color: #1c8bc1;
}

.login {
    padding-top: 10%;
    margin: 20px auto;
    width: 350px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}

.app-title {
    text-align: center;
    color: #c1521c;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
    margin: 0 auto;
    width: 250px;
}

.inputText {
    text-align: center;
    background-color: #FFF;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    margin-bottom: 0px;
    border-color: #1c8bc1;
}



.btn {
    border: 2px solid transparent;
    background: #c1521c;
    color: #FFF;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn:hover {
    border: 2px solid #1c8bc1;
}
